<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.KejianMapper">
    
    <resultMap type="Kejian" id="KejianResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="url"    column="url"    />
    </resultMap>

    <sql id="selectKejianVo">
        select id, name, url from kejian
    </sql>

    <select id="selectKejianList" parameterType="Kejian" resultMap="KejianResult">
        <include refid="selectKejianVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
        </where>
    </select>
    
    <select id="selectKejianById" parameterType="String" resultMap="KejianResult">
        <include refid="selectKejianVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertKejian" parameterType="Kejian" useGeneratedKeys="true" keyProperty="id">
        insert into kejian
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="url != null">url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="url != null">#{url},</if>
         </trim>
    </insert>

    <update id="updateKejian" parameterType="Kejian">
        update kejian
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="url != null">url = #{url},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteKejianById" parameterType="String">
        delete from kejian where id = #{id}
    </delete>

    <delete id="deleteKejianByIds" parameterType="String">
        delete from kejian where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>